<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <style>
    .trip_details-page .destination_title h1 {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }

    .trip_details-page .book_now-btn {
      padding: 14px;
      background-color: #1A3C6C;
      border: none;
      color: #fff;
      border-radius: 10px;
      min-width: 200px;
    }

    .trip_details-page .book_now-block {
      background-color: #F3F4F6;
      padding: 15px;
      border-radius: 16px;
      gap: 20px;
    }

    .trip_details-page .trip_about-details .left {
      flex-basis: 60%;
    }

    .trip_details-page .trip_about-details .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-basis: 40%;
      gap: 15px;
    }

    .trip_details-page .trip_about-details .right label {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }

    .trip_details-page .trip_about-details .right p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }

    .trip_about-details .svg_block {
      min-width: 48px;
      height: 48px;
      border: 1px solid #E9EDF5;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .trip_details-page .departure_block .departure_block-inner {
      gap: 15px;
    }

    .trip_details-page h2 {
      font-size: 20px;
      font-weight: 700;
    }

    .trip_details-page .departure_block .single_card {
      background-color: #F3F4F6;
      border-radius: 16px;
      gap: 10px;
    }

    .trip_details-page .departure_block .single_card.active {
      border: 2px solid #1A3C6C;
    }

    .single_card:hover {
      cursor: pointer;
    }

    .trip_details-page .departure_block .city_dates label {
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
      margin-bottom: 6px;
    }

    .trip_details-page .departure_block .city_dates select {
      padding: 8px;
      border-radius: 10px;
      font-size: 14px;
      display: block;
      width: 100%;
    }

    .trip_details-page .departure_block .city_block {
      flex-basis: 75%;
      gap: 10px;
    }

    .trip_details-page .departure_block .city_dates {
      background: #F3F4F6;
      padding: 20px;
      border-radius: 16px;
      flex-basis: 25%;
    }

    .trip_details-page .departure_block .book_btn {
      width: 100%;
      background-color: #1A3C6C;
      outline: none;
      border: none;
      padding: 10px 0;
      color: #fff;
      border-radius: 10px;
      font-size: 14px;
      line-height: 20px;
    }

    .trip_details-page .itenary_block {
      max-width: 70%;
    }

    .trip_details-page .itenary_block .itenary_inner details {
      background-color: #F9FAFB;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 12px;
    }


    .trip_details-page .itenary_block .itenary_inner details[open] {
      border: 1px solid #D1D5DB;
    }

    .trip_details-page .itenary_block .itenary_inner details .content {
      border-top: 1px solid #E5E7EB;
      padding-top: 15px;
      margin-top: 15px;
      padding-left: 50px;
    }

    .trip_details-page .tab {
      display: flex;
      border-bottom: 2px solid #ccc;
      cursor: pointer;
    }

    .trip_details-page .tab button {
      background-color: transparent;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      outline: none;
      cursor: pointer;
      transition: color 0.3s;
    }

    .trip_details-page .tab button.active {
      border-bottom: 2px solid black;
      font-weight: bold;
      color: black;
    }

    .trip_details-page .tab button:hover {
      color: #555;
    }

    /* Styles for the.trip_details-page  tab content */
    .trip_details-page .tab-content {
      display: none;
      padding: 20px;
    }

    .trip_details-page .tab-content.active {
      display: block;
    }

    /* Table styling */
    .trip_details-page .more_information table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .trip_details-page .more_information table th,
    .trip_details-page .more_information table td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
      text-align: center;
    }

    .trip_details-page .more_information table th {
      background-color: #333B4A;
      color: white;
    }

    .trip_details-page .more_information {
      max-width: 50%;
    }

    .trip_details-page .extra_links .policies-btn {
      padding: 15px;
      border: 1px solid #D5DBE5;
      border-radius: 12px;
      background-color: transparent;
    }

    .trip_details-page .tabs {
      display: flex;
      margin-bottom: 10px;
    }

    .trip_details-page .tabs button {
      background: transparent;
      border: none;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
    }

    .trip_details-page .tabs button.active {
      font-weight: bold;
    }

    .trip_details-page .tabs button.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: black;
    }

    /* Dates container */
    .trip_details-page .dates {
      display: none;
      flex-wrap: wrap;
      gap: 10px;
    }

    .trip_details-page .dates.active {
      display: flex;
    }

    /* Date button styling */
    .trip_details-page .date-button {
      border: 1px solid transparent;
      background-color: #f0f0f0;
      border-radius: 8px;
      padding: 10px 15px;
      margin: 0 10px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .trip_details-page .date-button:hover {
      background-color: #e0e0e0;
    }

    .trip_details-page .date-button.selected {
      border: 2px solid #333;
      background-color: white;
    }

    @media (max-width:749px) {
      .trip_details-page .destination_title h1 {
        font-size: 20px;
        line-height: 25px;
      }

      .trip_details-page .book_now-btn {
        width: 100%;
      }

      .trip_details-page .itenary_block {
        max-width: 100%;
      }

      .trip_details-page .trip_about-details .left,
      .trip_details-page .trip_about-details .right {
        flex-basis: 100%;
      }

      .trip_details-page .trip_about-details {
        flex-wrap: wrap;
      }

      .trip_details-page .departure_block .departure_block-inner {
        flex-wrap: wrap;
      }

      .trip_details-page .departure_block .city_block {
        flex-basis: 100%;
      }

      .trip_details-page .departure_block .city_dates {
        flex-basis: 100%;
      }

      .trip_details-page .more_information {
        max-width: 100%;
      }

      .trip_details-page .tab-content {
        padding: 0;
      }
    }


    /* // modal css */

    .modal-overlay {
      display: none;
      /* Hidden by default */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Black background with transparency */
      z-index: 1;
    }

    /* Modal box */
    .modal_inner {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: max-content;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 2;
      top: 50%;
      /* Center the modal vertically */
      left: 50%;
      /* Center the modal horizontally */
      transform: translate(-50%, -50%);
      /* Align the modal to the exact center */
    }

    /* Modal content */
    .modal-header {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .modal-body p {
      margin: 10px 0;
      line-height: 1.6;
    }

    /* Close button */
    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    /* Action button */
    .modal-footer {
      text-align: right;
    }

    .modal-footer button {
      padding: 10px 20px;
      background-color: #002855;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* Display the modal when overlay is clicked */
    .modal-overlay.show {
      display: block;
    }
  </style>
  <style>
    /* Custom styles to set fixed image size and rounded corners */
    .carousel-item img {
      width: 100%;
      /* Full width */
      height: 400px;
      /* Fixed height */
      object-fit: cover;
      /* Ensure images cover the area */
      border-radius: 15px;
      /* Rounded corners */
    }

    .carousel-inner {
      border-radius: 15px;
      /* Optional: apply rounded corners to the carousel container itself */
      overflow: hidden;
      /* Hide any overflowed parts of the image */
    }
  </style>
  <style>
    .imagess {
      width: 80px;
      height: 80px;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <main>
    <div class="container my-5">
      <div class="trip_details-page">
        <div class="d-flex justify-content-between flex-wrap gap-3 mb-4">
          <div class="destination_title">
            <h1 class="m-0">
              <%= trips.name %>
            </h1>
            <p class="m-0">
              <%= trips.destinations %>
            </p>
          </div>
          <div class="d-flex gap-4 book_now-block justify-content-between align-items-center flex-wrap">
            <div>
              <span>Starts from</span>
              <p class="m-0">₹ <%= trips.citydetails.reduce((minItem, currentItem)=> {
                  return currentItem.prices < minItem.prices ? currentItem : minItem; }).prices %> / person</p>
            </div>
            <form action="/getbooktrip" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="tripname" id="tripname" value="<%= trips.name %>">
              <button type="submit" class="book_now-btn">Book now</button>
            </form>

          </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <% for (let i=0; i < trips.imageUrlAll.length; i++) { %>
              <% if (i==0) { %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
                <% } else { %>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>"></li>
                  <% } %>
                    <% } %>

                      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <% for (let i=0; i < trips.imageUrlAll.length; i++) { %>
              <% if (i==0) { %>
                <div class="carousel-item active">
                  <img src="/images/<%= trips.imageUrlAll[i] %>" class="d-block w-100" alt="...">
                </div>
                <% } else { %>
                  <div class="carousel-item">
                    <img src="/images/<%= trips.imageUrlAll[i] %>" class="d-block w-100" alt="...">
                  </div>
                  <% } %>
                    <% } %>

                      <!-- <div class="carousel-item">
                  <img src="/images/<%= trips.imageUrlAll[1] %>" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/images/<%= trips.imageUrlAll[2] %>" class="d-block w-100" alt="...">
                </div> -->
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="trip_about-details d-flex gap-4 mb-4">
          <div class="left">
            <p class="mb-2 fw-bold">About</p>
            <div>
              <%- trips.about %>
            </div>
          </div>
          <div class="right">
            <div class="duration d-flex mb-2ex align-items-center gap-3">
              <div class="svg_block">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
                    stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M16 2V6" stroke="#EF4F5F" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M8 2V6" stroke="#EF4F5F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M3 10H21" stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
              <div>
                <label>Duration</label>
                <p class="m-0">
                  <%= trips.citydetails.reduce((minItem, currentItem)=> {
                    return currentItem.prices < minItem.prices ? currentItem : minItem; }).nodays %> Days
                </p>
              </div>
            </div>
            <div class="difficulty d-flex align-items-center gap-3">
              <div class="svg_block">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                    stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M16.24 7.75977L14.12 14.1198L7.75999 16.2398L9.87999 9.87977L16.24 7.75977Z" stroke="#EF4F5F"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>

              <div>
                <label>Difficulty</label>
                <p class="m-0">
                  <%= trips.difficulty %>
                </p>
              </div>
            </div>
            <div class="altitude d-flex align-items-center gap-3">
              <div class="svg_block">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                    stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M16.24 7.75977L14.12 14.1198L7.75999 16.2398L9.87999 9.87977L16.24 7.75977Z" stroke="#EF4F5F"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>

              <div>
                <label>Altitude</label>
                <p class="m-0">
                  <%= trips.altitude %> ft
                </p>
              </div>
            </div>
            <div class="best_season d-flex align-items-center gap-3">
              <div class="svg_block">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2646_2550)">
                    <path
                      d="M19 16.9003C20.2152 16.6536 21.2953 15.9641 22.0307 14.9658C22.7661 13.9674 23.1043 12.7315 22.9797 11.4978C22.8551 10.2641 22.2765 9.12077 21.3563 8.28967C20.4361 7.45858 19.24 6.99905 18 7.0003H16.74C16.4087 5.71762 15.764 4.53729 14.8639 3.56529C13.9638 2.59328 12.8363 1.86003 11.5828 1.43136C10.3293 1.0027 8.98898 0.892032 7.68214 1.10931C6.3753 1.32658 5.14287 1.865 4.09551 2.67621C3.04814 3.48742 2.21863 4.54604 1.68144 5.75701C1.14424 6.96799 0.916192 8.29341 1.01776 9.61429C1.11932 10.9352 1.54732 12.2102 2.26332 13.3248C2.97933 14.4394 3.96093 15.3587 5.12 16.0003"
                      stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13 11L9 17H15L11 23" stroke="#EF4F5F" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2646_2550">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>

              <div>
                <label>Best season</label>
                <p class="m-0">
                  <%= trips.bestseason %>
                </p>
              </div>
            </div>
            <div class="region d-flex align-items-center gap-3">

              <div class="svg_block">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2646_2550)">
                    <path
                      d="M19 16.9003C20.2152 16.6536 21.2953 15.9641 22.0307 14.9658C22.7661 13.9674 23.1043 12.7315 22.9797 11.4978C22.8551 10.2641 22.2765 9.12077 21.3563 8.28967C20.4361 7.45858 19.24 6.99905 18 7.0003H16.74C16.4087 5.71762 15.764 4.53729 14.8639 3.56529C13.9638 2.59328 12.8363 1.86003 11.5828 1.43136C10.3293 1.0027 8.98898 0.892032 7.68214 1.10931C6.3753 1.32658 5.14287 1.865 4.09551 2.67621C3.04814 3.48742 2.21863 4.54604 1.68144 5.75701C1.14424 6.96799 0.916192 8.29341 1.01776 9.61429C1.11932 10.9352 1.54732 12.2102 2.26332 13.3248C2.97933 14.4394 3.96093 15.3587 5.12 16.0003"
                      stroke="#1A3C6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13 11L9 17H15L11 23" stroke="#EF4F5F" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </g>
                  <defs>
                    <clipPath id="clip0_2646_2550">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>

              <div>
                <label>Region</label>
                <p class="m-0">
                  <%= trips.region %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="departure_block mb-4">
          <h2 class="mb-3">Departure City</h2>

          <div class="d-flex gap-4 align-items-start departure_block-inner">
            <div class="left overflow-auto">
              <div class="d-flex mb-4 gap-3 overflow-auto city_block">
                <% for (let i=0; i < trips.citydetails.length; i++) { %>
                  <% if (i==0) { %>
                    <div class="single_card active p-3 d-flex align-items-center gap-3" onclick="updateDates(<%= i %>)">
                      <div class="image">
                        <img class="imagess" src="/images/Dwarka Somnath diu.jpg" alt="amdavad">
                      </div>
                      <div>
                        <p class="city m-0">
                          <%= trips.citydetails[i].city %>
                        </p>
                        <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                              stroke="#687182" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                          <span>
                            <%= trips.citydetails[i].nodays %> Days
                          </span>
                        </p>
                        <p class="package_price m-0">₹<%= trips.citydetails[i].prices %>/person</p>
                      </div>
                    </div>
                    <% } else { %>
                      <div class="single_card p-3 d-flex align-items-center gap-3" onclick="updateDates(<%= i %>)">
                        <div class="image">
                          <img class="imagess" src="/images/bhujiyo-fort-kutch.jpg" alt="amdavad">
                        </div>
                        <div>
                          <p class="city m-0">
                            <%= trips.citydetails[i].city %>
                          </p>
                          <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                stroke="#687182" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span>
                              <%= trips.citydetails[i].nodays %> Days
                            </span>
                          </p>
                          <p class="package_price m-0">₹<%= trips.citydetails[i].prices %>/person</p>
                        </div>
                      </div>
                      <% } %>
                        <% } %>

                          <!--                          
                          <div class="single_card p-3 d-flex align-items-center gap-3">
                            <div class="image">
                              <img class="imagess" src="/images/Spiti-summer.jpg" alt="amdavad">
                            </div>
                            <div>
                              <p class="city m-0">Delhi</p>
                              <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                    stroke="#687182" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                                <span>5 days - 6 nights</span>
                              </p>
                              <p class="package_price m-0">₹8499/person</p>
                            </div>
                          </div>
                          <div class="single_card p-3 d-flex align-items-center gap-3">
                            <div class="image">
                              <img class="imagess" src="/images/bhujiyo-fort-kutch.jpg" alt="amdavad">
                            </div>
                            <div>
                              <p class="city m-0">Surat</p>
                              <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                    stroke="#687182" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                                <span>5 days - 6 nights</span>
                              </p>
                              <p class="package_price m-0">₹7499/person</p>
                            </div>
                          </div>
                          <div class="single_card p-3 d-flex align-items-center gap-3">
                            <div class="image">
                              <img class="imagess" src="/images/Spiti-summer.jpg" alt="amdavad">
                            </div>
                            <div>
                              <p class="city m-0">Delhi</p>
                              <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                    stroke="#687182" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                                <span>5 days - 6 nights</span>
                              </p>
                              <p class="package_price m-0">₹8499/person</p>
                            </div>
                          </div>
                          <div class="single_card p-3 d-flex align-items-center gap-3">
                            <div class="image">
                              <img class="imagess" src="/images/bhujiyo-fort-kutch.jpg" alt="amdavad">
                            </div>
                            <div>
                              <p class="city m-0">Surat</p>
                              <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                    stroke="#687182" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                                <span>5 days - 6 nights</span>
                              </p>
                              <p class="package_price m-0">₹7499/person</p>
                            </div>
                          </div>
                          <div class="single_card p-3 d-flex align-items-center gap-3">
                            <div class="image">
                              <img class="imagess" src="/images/Spiti-summer.jpg" alt="amdavad">
                            </div>
                            <div>
                              <p class="city m-0">Delhi</p>
                              <p class="duration_days mb-2"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M4.625 1.5V3.375M13.375 1.5V3.375M1.5 14.625V5.25C1.5 4.75272 1.69754 4.27581 2.04917 3.92417C2.40081 3.57254 2.87772 3.375 3.375 3.375H14.625C15.1223 3.375 15.5992 3.57254 15.9508 3.92417C16.3025 4.27581 16.5 4.75272 16.5 5.25V14.625M1.5 14.625C1.5 15.1223 1.69754 15.5992 2.04917 15.9508C2.40081 16.3025 2.87772 16.5 3.375 16.5H14.625C15.1223 16.5 15.5992 16.3025 15.9508 15.9508C16.3025 15.5992 16.5 15.1223 16.5 14.625M1.5 14.625V8.375C1.5 7.87772 1.69754 7.40081 2.04917 7.04917C2.40081 6.69754 2.87772 6.5 3.375 6.5H14.625C15.1223 6.5 15.5992 6.69754 15.9508 7.04917C16.3025 7.40081 16.5 7.87772 16.5 8.375V14.625M9 9.625H9.00667V9.63167H9V9.625ZM9 11.5H9.00667V11.5067H9V11.5ZM9 13.375H9.00667V13.3817H9V13.375ZM7.125 11.5H7.13167V11.5067H7.125V11.5ZM7.125 13.375H7.13167V13.3817H7.125V13.375ZM5.25 11.5H5.25667V11.5067H5.25V11.5ZM5.25 13.375H5.25667V13.3817H5.25V13.375ZM10.875 9.625H10.8817V9.63167H10.875V9.625ZM10.875 11.5H10.8817V11.5067H10.875V11.5ZM10.875 13.375H10.8817V13.3817H10.875V13.375ZM12.75 9.625H12.7567V9.63167H12.75V9.625ZM12.75 11.5H12.7567V11.5067H12.75V11.5Z"
                                    stroke="#687182" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                                <span>5 days - 6 nights</span>
                              </p>
                              <p class="package_price m-0">₹8499/person</p>
                            </div>
                          </div> -->

              </div>

              <div>
                <h2 class="mb-2">Available dates</h2>

                <!-- Month tabs -->
                <% const monthNames=[ "January" , "February" , "March" , "April" , "May" , "June" , "July" , "August"
                  , "September" , "October" , "November" , "December" ]; %>
                  <div class="tabs" id="monthtab">

                    <% [...new Set(trips.citydetails[0].Dates.split(",").map(date=>
                      new Date(date).getMonth()))].forEach(function(date, index) { %>
                      <% if (index==0) { %>
                        <button class="tab-button active" onclick="openMonth(event, '<%= monthNames[date] %>')">
                          <%= monthNames[date] %>
                        </button>

                        <% } else { %>
                          <button class="tab-button" onclick="openMonth(event, '<%= monthNames[date] %>')">
                            <%= monthNames[date] %>
                          </button>
                          <% } %>

                            <% }) %>
                              <!-- <button class="tab-button active" onclick="openMonth(event, 'May')">May</button>
                            <button class="tab-button" onclick="openMonth(event, 'June')">June</button>
                            <button class="tab-button" onclick="openMonth(event, 'July')">July</button> -->
                  </div>

                  <% [...new Set(trips.citydetails[0].Dates.split(",").map(date=>
                    new Date(date).getMonth()))].forEach(function(monthindex, index) { %>
                    <% if (index==0) { %>
                      <div id="<%= monthNames[monthindex] %>" class="dates active">
                        <% trips.citydetails[0].Dates.split(",").filter(date=> new Date(date).getMonth() ===
                          monthindex).forEach(function(date, index) { %>
                          <button class="date-button" onclick="selectDate(this)">
                            <%= new Date(date).getDate() %>
                          </button>
                          <% }) %>
                      </div>
                      <% } else { %>
                        <div id="<%= monthNames[monthindex] %>" class="dates">
                          <button class="date-button" onclick="selectDate(this)">3</button>
                          <button class="date-button" onclick="selectDate(this)">10</button>
                          <button class="date-button" onclick="selectDate(this)">17</button>
                          <button class="date-button" onclick="selectDate(this)">24</button>
                        </div>
                        <% } %>
                          <% }) %>


                            <!-- Dates for July -->
                            <!-- <div id="July" class="dates">
                              <button class="date-button" onclick="selectDate(this)">5</button>
                              <button class="date-button" onclick="selectDate(this)">12</button>
                              <button class="date-button" onclick="selectDate(this)">19</button>
                              <button class="date-button" onclick="selectDate(this)">26</button>
                            </div> -->
              </div>

            </div>

            <div class="city_dates" style="min-width: 270px;">
              <form action="/getbooktrip" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="tripname" id="tripname" value="<%= trips.name %>">
                <div class="mb-2">
                  <label for="city_drop">Joining from</label>
                  <select name="city" id="city_drop">
                    <% trips.citydetails.forEach(citydetails=> { %>
                      <option value="<%= citydetails.city %>">
                        <%= citydetails.city %>
                      </option>
                      <% }); %>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="date_drop">Tour date:</label>
                  <select name="date" id="date_drop">
                    <option value="">Please select a category first</option>
                  </select>
                </div>

                <button type="submit" class="book_btn">Proceed to book</button>
              </form>
            </div>
          </div>

        </div>

        <div class="main_attractions mb-4">
          <h2 class="mb-3">Main attractions</h2>
          <%- trips.activities %>
        </div>

        <div class="itenary_block mb-4">
          <h2 class="mb-3">Itinerary</h2>
          <%- trips.citydetails[0].daysadd %>
            <!-- <div class="itenary_inner">
            <details open name="itenary">
              <summary>
                Day 1:
                Journey starts from Ahmedabad
                (May 8 2024)
              </summary>
              <div class="content">
                Reporting time: 10:15 AM <br>
                Boarding time: 11:00 AM <br>
                Location: Kalupur railways station BRTS

                <ul>
                  <li>More details goes here</li>
                  <li>More details goes here with bullet points</li>
                </ul>
              </div>
            </details>

            <details name="itenary">
              <summary>
                Day 2:
                Morning arrival & Manali Local
                (May 9 2024)
              </summary>
              <div class="content">
                Reporting time: 10:15 AM <br>
                Boarding time: 11:00 AM <br>
                Location: Kalupur railways station BRTS

                <ul>
                  <li>More details goes here</li>
                  <li>More details goes here with bullet points</li>
                </ul>
              </div>
            </details>

            <details name="itenary">
              <summary>
                Day 3:
                Manali - Solang/Attal Tunnel/ Sissu Waterfall
                (May 10 2024)
              </summary>
              <div class="content">
                Reporting time: 10:15 AM <br>
                Boarding time: 11:00 AM <br>
                Location: Kalupur railways station BRTS

                <ul>
                  <li>More details goes here</li>
                  <li>More details goes here with bullet points</li>
                </ul>
              </div>
            </details>

            <details name="itenary">
              <summary>
                Day 4:
                Bijali Mahadev Trek/Malana Village trek
                (May 11 2024)
              </summary>
              <div class="content">
                Reporting time: 10:15 AM <br>
                Boarding time: 11:00 AM <br>
                Location: Kalupur railways station BRTS

                <ul>
                  <li>More details goes here</li>
                  <li>More details goes here with bullet points</li>
                </ul>
              </div>
            </details>
          </div> -->
        </div>

        <div class="more_information">
          <h2 class="mb-3">More information</h2>

          <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'PackageCost')">Package cost</button>
            <button class="tablinks" onclick="openTab(event, 'MainAttractions')">Main attractions</button>
            <button class="tablinks" onclick="openTab(event, 'ThingsToCarry')">Things to carry</button>
          </div>

          <div id="PackageCost" class="tab-content active">
            <table>
              <thead>
                <tr>
                  <th>Available from</th>
                  <th>Days</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                <% trips.citydetails.forEach(citydetails=> { %>
                  <tr>
                    <td>
                      <%= citydetails.city %>
                    </td>
                    <td>
                      <%= citydetails.nodays %> Days
                    </td>
                    <td>₹<%= citydetails.prices %>/-</td>
                  </tr>
                  <% }); %>

              </tbody>
            </table>

            <!-- <ul class="mt-4">
              <li>Delhi- Ahmedabad/Vadodara Non AC Sleeper Train</li>
              <li>For 3AC train and flight charges as per actual at the time booking</li>
              <li>Tatkal Train Ticket charges will be considered extra at the time of booking</li>
              <li>For couple sharing privete room - 3000 per couple extra</li>
            </ul> -->
          </div>

          <!-- Tab content for Main attractions -->
          <div id="MainAttractions" class="tab-content">
            <p><%- trips.itinerary %></p>
          </div>

          <!-- Tab content for Things to carry -->
          <div id="ThingsToCarry" class="tab-content">
            <p><%- trips.things_to_carry %></p>
          </div>
        </div>

        <div class="extra_links">
          <h2 class="mb-3">Links</h2>

          <div id="modalOverlay" class="modal-overlay">
            <!-- Modal content -->
            <div class="modal_inner">
              <button class="close-btn" onclick="closeModal()">×</button>
              <div class="modal-header">Cancellation Policy</div>
              <div class="modal-body">
                <p><strong>Booking Policy:</strong></p>
                <%- trips.infonfaq %>
                  <p><strong>Cancellation Policy:</strong></p>
                  <%- trips.Bookncancel %>
              </div>
              <div class="modal-footer">
                <button onclick="closeModal()">Okay</button>
              </div>
            </div>
          </div>

          <button type="button" onclick="openModal()" class="policies-btn">Cancellation policy</button>
        </div>
      </div>
    </div>
  </main>
  <style>
    body,
    html {
      font-family: 'Inter';
    }
  </style>
  <script>
    // Function to handle tab switching
    function openTab(evt, tabName) {
      // Hide all tab contents
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].classList.remove("active");
      }

      // Remove "active" class from all tablinks
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).classList.add("active");
      evt.currentTarget.classList.add("active");
    }

    function openModal() {
      document.getElementById('modalOverlay').classList.add('show');
    }

    // Function to close the modal
    function closeModal() {
      document.getElementById('modalOverlay').classList.remove('show');
    }


    function openMonth(evt, monthName) {
      // Hide all date containers
      var i, dates, tabButtons;
      dates = document.getElementsByClassName("dates");
      for (i = 0; i < dates.length; i++) {
        dates[i].classList.remove("active");
      }

      // Remove "active" class from all buttons
      tabButtons = document.getElementsByClassName("tab-button");
      for (i = 0; i < tabButtons.length; i++) {
        tabButtons[i].classList.remove("active");
      }

      // Show the selected month's dates
      document.getElementById(monthName).classList.add("active");

      // Add "active" class to the clicked button
      evt.currentTarget.classList.add("active");
    }

    // Function to select a date
    function selectDate(element) {
      // Remove the "selected" class from all date buttons
      var dateButtons = document.getElementsByClassName("date-button");
      for (var i = 0; i < dateButtons.length; i++) {
        dateButtons[i].classList.remove("selected");
      }

      // Add "selected" class to the clicked date button
      element.classList.add("selected");
    }
  </script>
  <script>
    // Get all elements with the class 'clickable'
    const cards = document.getElementsByClassName('single_card');
    // console.log(cards);
    // Loop through each button and add a click event listener
    for (let i = 0; i < cards.length; i++) {
      cards[i].addEventListener('click', function () {
        // Remove the 'active' class from all buttons
        for (let j = 0; j < cards.length; j++) {
          cards[j].classList.remove('active');
        }

        // Add the 'active' class to the clicked button
        cards[i].classList.add('active');
      });
      // console.log(cards);
    }
  </script>
  <script>

    // const subcategories = {
    //   fruits: ['Apple', 'Banana', 'Orange'],
    //   vegetables: ['Carrot', 'Potato', 'Spinach'],
    //   animals: ['Dog', 'Cat', 'Horse']
    // };
    // Correct way to inject the citydetailsfiltered object into JavaScript
    // prettier-ignore
    const subcategories = <% - JSON.stringify(citydetailsfiltered) %>;
    console.log("hiii");


    console.log(subcategories);  // Check if the object is being logged correctly


    // Function to update the subcategory options
    function updateSubcategoryOptions() {
      const category = document.getElementById('city_drop').value;
      const subcategorySelect = document.getElementById('date_drop');

      // Clear existing options
      subcategorySelect.innerHTML = '';

      // Add a default option
      // const defaultOption = document.createElement('option');
      // defaultOption.text = "Please select a subcategory";
      // subcategorySelect.add(defaultOption);

      // Add options based on selected category
      if (category && subcategories[category]) {
        subcategories[category].forEach(function (subcategory) {
          const option = document.createElement('option');
          option.value = subcategory.toLowerCase();
          option.text = subcategory;
          subcategorySelect.add(option);
        });
      }
    }

    // Add event listener to the category select element
    document.getElementById('city_drop').addEventListener('change', updateSubcategoryOptions);

    // Call the function once to initialize the subcategory options
    updateSubcategoryOptions();
  </script>
  <script>
    // JavaScript variable initialized with EJS value
    let currentValue = 0;
    function updateDates(i) {
      currentValue = i;
      console.log("currentValue");
      console.log(currentValue);
      document.getElementById('monthtab').innerHTML = "";
    }
    // Adding click event listener to the button
    document.getElementById('changeValueBtn').addEventListener('click', function () {
      // Change the value on the client side
      currentValue = 'Updated value on client-side!';

      // Update the displayed value in the DOM
      document.getElementById('valueDisplay').innerText = currentValue;

      console.log('Current Value: ', currentValue); // Logs the updated value
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS (and Popper.js for Bootstrap 4) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>